@media (max-width: 900px) {
  main {
    padding-block: 5rem;
  }

  .container {
    margin-inline: var(--size-100);
  }

  .heading-1 {
    font-size: var(--fs-heading-1);
  }

  [data-main-text] {
    max-width: 32ch;
  }

  .rating-section {
    display: grid;
    justify-content: stretch;
    padding-block-start: 3rem;
  }

  .cards {
    display: grid;
    justify-content: center;
    gap: var(--size-100);
  }

  .center-align {
    text-align: center;
    margin-inline: auto;
  }
}
